<br>
<app-profile-panel></app-profile-panel>
<div class="home-content fade-in">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="shadow">
                        <div class="box-topic">Account Balance</div>
                        <div class="number">$ 63,876</div>
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="shadow">
                        <div class="box-topic">Checking Account</div>
                        <div class="number">$ 38,876</div>
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="shadow">
                        <div class="box-topic">Savings Account</div>
                        <div class="number">$ 25,000</div>
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="shadow">
                        <div class="box-topic">Loans</div>
                        <div class="number">$ 0.00</div>
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-transactions-table></app-transactions-table>
<br>

<div class="visual-cont">
    <app-transactions-visual class="resp-visual"></app-transactions-visual>
    <app-transactions-type class="resp-visual"></app-transactions-type>
</div>
