<br>
<div class="tab">
    <button id="tabLinks0" class="tabs"(click)="openTab(0)">EASY BANK TRANSFERS</button>
    <button id="tabLinks1" class="tabs"(click)="openTab(1)" style="margin-left: 50px">TRANSFER TO OTHER BANK</button>
    <button id="tabLinks2" class="tabs"(click)="openTab(2)" style="margin-left: 50px; width: 350px">TRANSFERS TO INTERNATIONAL BANKS</button>
    <br>
    <br>
    <br>
  
  <div id="content0" class="tabcontent">
    <br>
    <br>
    <br>
    <h3 class="title" style="text-align: center">EASY BANK TRANSFERS</h3>
    <app-transactions-form></app-transactions-form>
    
  </div>
  
  <div id="content1" class="tabcontent">
    <br>
    <br>
    <br>
    <h3 class="title" style="text-align: center">TRANSFER TO OTHER BANK</h3>
  </div>

  <div id="content2" class="tabcontent">
    <br>
    <br>
    <br>
    <h3 class="title" style="text-align: center">TRANSFERS TO INTERNATIONAL BANKS</h3>
    <app-transactions-form></app-transactions-form>
  </div>
  </div>
  