.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px !important;
  }

@media screen and (max-width: 600px) {
    .mat-table {
        overflow: auto;
        max-height: 300px;
        width: 100%;
    }
    
}



mat-header-cell {
    font-size: 01rem;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}



.filter {
}

body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
    
  }

  span {
    display: none;
  }
  
  
  @media screen and (max-width: 960px) {
    span {
        display: block;
    }
    .mat-header-row {
        display: none;
    }
    .table-cont {
        width: 99% !important;
    }
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      content: attr(aria-label);
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
    .mat-cell {
        width: 95%;
    }
  }